{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <style>
 
        body {
        background-image: url("{% static 'img/r_background.png' %}");
        background-size: cover;
        background-repeat : no-repeat;
        background-position: center;
        height: 100vh;
        width: auto;
        margin: 0;
        }

   </style>
    <script src ="{% static 'js/kr/mainp.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clicksmas</title>
    <link rel="website icon" type="png" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/kr/main_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=IBM+Plex+Sans+KR:wght@500&family=Orbit&display=swap" rel="stylesheet">
    <script language="javascript">
		  function showPopup() {
			var url = "{% url 'ranking_kr' username=username %}";
			window.open(url, "a", "width=300, height=500, left=100, top=50");
		  }
      function clip(){

        var url = '';
        var textarea = document.createElement("textarea");
        document.body.appendChild(textarea);
        url = window.document.location.href;
        textarea.value = url;
        textarea.select();
        document.execCommand("copy");
        document.body.removeChild(textarea);
        alert("URL이 복사되었습니다.")
      }
    </script>
</head>
<body>
     <span id="페이지">🎁{{ username }} 님에게
        {{candy}}개의 선물이 전달됐어요
     <button id="interior"><a href="{% url 'inside_pumpkin' username=username page_num=1 %}" style="text-decoration: none; color:white" >양말내부보기</a></button>
     <button id="share"><a href="#" onclick="clip(); return false;" style="text-decoration: none; color:white" >링크복사하기</a></button>
     <button id="write" onclick="showPopup();">랭킹</button> <span class="clicks"></span>
     </span>
    <img id="pumpkin" src = "{% static 'img/sock.png' %}" onclick='myFunction()' alt="pumpkin">
    <span class="speech-bubble">나를 클릭해봐!</span>   
    

</body>