{% load static %}
<html>
<head>
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/kr/popupp.css' %}">
  <link rel="website icon" type="png" href="{% static 'img/pumpkin_icon.png' %}">
  <script>
    function change(arg)
    {
      var t1 = document.getElementById("table");
      var t2 = document.getElementById("tablehouse");
      
      if(arg == 1)
      {
        t1.style.display="block";
        t2.style.display="none";
      }
      else
      {
        t2.style.display="block";
        t1.style.display="none";
      }
    }
  </script>
</head>
<body>
  <button class="solo" onclick="change(1)">Personal ranking</button>
  <button class="house" onclick="change(2)">House ranking</button>
  <table id="table">
    <tr>
      <th scope="col">ranking</th>
      <th scope="col">id</th>
      <th scope="col">clicks</th>
    </tr>
    <tr class="my">
      <th scope="col">{{ my_rank }}</th>
      <th scope="col">{{ username }}</th>
      <th scope="col">{{ click_count }}</th>
    </tr>
    {% for click_count_obj in top_click_counts %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ click_count_obj.user.username }}</td>
      <td>{{ click_count_obj.click_count }}</td>
    </tr>
    {% endfor %}
  </table>
  <table id="tablehouse">
    <tr>
      <th scope="col">house</th>
      <th scope="col">clicks</th>
    </tr>
    <tr class="myhouse">
      <th scope="col" id="userhouse">
        {% if user.userprofile.house %}
          {{ user.userprofile.house }}
        {% else %}
            -
        {% endif %}
      </th>
      <th scope="col">
        {% if user.userprofile.house %}
            {{ my_house_click_count }}
        {% else %}
            -
        {% endif %}
    </th>
    </tr>
    <tr class="Poseidon">
      <td id="forth">Poseidon</td>
      <td>{{pos_click}}</td>
    </tr>
    <tr class="Athena">
      <td>Athena</td>
      <td>{{att_click}}</td>
    </tr>
    <tr class="Apollo">
      <td>Apollo</td>
      <td>{{app_click}}</td>
    </tr>
    <tr class="Artemis">
      <td>Artemis</td>
      <td>{{arr_click}}</td>
    </tr>
  </table>
</body>
</html>