{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="{% static 'img/icon.png' %}">
    <style>


        body {
            background-image: url("{% static 'img/background.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            width: auto;
            margin: 0;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clicksmas</title>
    <link rel="stylesheet" href="{% static 'css/kr/inside.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=IBM+Plex+Sans+KR:wght@500&family=Orbit&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{username}}'s sock</h1>
    <a class="letter" href="{% url 'mypage_eg' username=username %}">back tp main page</a><br>
    <div class="ppp" >
        page:
        {% for page in range %}
            <a href="{% url 'inside_pumpkin_eg' username=username page_num=page %}">{{page}}</a>
        {% endfor %}
    </div>
    <ul>
        {% for article in article_list %}
            <li>
                from: {{ article.name }} 
                <a href="../view/{{ article.id }}"><img class="one_letter" src= "{% static 'img/present.png' %}" alt="Candy Image" /></a>
                <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>