{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src ="{% static 'js/eg/main.js' %}"></script>
   <style>

        body {
        background-image: url("{% static 'img/r_background.png' %}");
        background-size: cover;
        background-repeat : no-repeat;
        background-position: center;
        height: 100vh;
        width: auto;
        margin: 0;
        }
    
   </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trick or letter</title>
    <link rel="website icon" type="png" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/kr/mainpage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=IBM+Plex+Sans+KR:wght@500&family=Orbit&display=swap" rel="stylesheet">
    <script language="javascript">
        function showPopup() { window.open("{% url 'ranking_kr' username=username%}", "a", "width=300, heig500, left=100, top=50"); }
        function clip(){

            var url = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            url = window.document.location.href;
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("URL copied successfully")
        }
    </script>
</head>
<body>
     <span id="페이지">🎁{{candy}} 
    {% if candy >= 2 %}
        gifts
    {% else %}
        gift
    {% endif %}
    were sent<br>
    to {{ username }}
     <button id="share"><a id="ll"href="#" onclick="clip(); return false;"style="text-decoration: none; color:white" >copy the link</a></button>
     <button id="interior"><a href="{% url 'inside_pumpkin_eg' username=username page_num=1 %}" style="text-decoration: none; color:white" >check a sock</a></button>

     <button id="write" onclick="showPopup();">ranking</button>
     </span>
    <img id="pumpkin" src = "{% static 'img/sock.png' %}" onclick='myFunction()' alt="pumpkin">
    <span class="speech-bubble">check a sock</span>   


</body>