{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>

   <style>
        a {
        text-decoration: none;
        }
        body {
        background-image: url("{% static 'img/background.jpg' %}");
        background-size: cover;
        background-repeat : no-repeat;
        background-position: center;
        height: 100vh;
        width: auto;
        margin: 0;
        }
    
   </style>
    <script src ="{% static 'js/eg/main_page.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trick or letter</title>
    <link rel="website icon" type="png" href="{% static 'img/pumpkin_icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/kr/mainPage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=IBM+Plex+Sans+KR:wght@500&family=Orbit&display=swap" rel="stylesheet">
    <script language="javascript">
        function showPopup() { window.open("{% url 'ranking_kr' %}", "a", "width=300, heig500, left=100, top=50"); }
    </script>
  </head>
<body>

     <span id="페이지">🎃n candies were sent<br >
        to {{ username }}
     <button id="share">share with friends</button>
     <button id="interior"><a href="{% url 'inside_pumpkin_eg' username=username page_num=1 %}" style="text-decoration: none;">inside pumpkin</a></button>

     <button id="write" onclick="showPopup();">ranking</button>
     </span>
    <img id="pumpkin" src = "{% static 'img/pumpkin.png' %}" onclick='myfunction()' alt="pumpkin">
    <span class="speech-bubble">hello</span>   


</body>