{% load static %}
<html lang="en">
<head>
    <style>

    ul {
        list-style-type: none; 
        padding: 0; 
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="website icon" type="png" href="{% static 'img/pumpkin_icon.png' %}">
    <script src ="{% static 'js/list.js' %}"></script>
</head>
<body>
    <ul>
        {% for article in article_list %}
        <li>
        <a href="../view/{{ article.id }}"><img class="one_letter" src="" alt="Candy Image" /></a>
        <script>
            var candyImages = [
            "{% static 'img/candy/bar_candy1.png' %}",
            "{% static 'img/candy/bar_candy_2.png' %}",
            "{% static 'img/candy/candy1.png' %}",
            "{% static 'img/candy/candy2.png' %}",
            "{% static 'img/candy/candy3.png' %}",
            ];

            // 랜덤 사탕 이미지 선택
            var randomIndex = Math.floor(Math.random() * candyImages.length);
            var randomImage = candyImages[randomIndex];

            // 이미지 요소에 랜덤 이미지 URL 설정
            var imageElement = document.querySelector("li:last-child .one_letter");
            imageElement.src = randomImage;
        </script>
        {{ article.name }} 
        </li>
        {% endfor %}
    </ul>
</body>
</html>