{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/letter.css' %}" rel="stylesheet">
    <title>Write</title>
    <style>
        body {
            background-color: wheat;
        }
    </style>
    <link rel="website icon" type="png" href="{% static 'img/pumpkin_icon.png' %}">
</head>
<body>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</body>
</html>