{% load static %}
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>clicksmas</title>
  <style>
        body {
            background-image: url("{% static 'img/background.png' %}");
            background-size: cover;
            background-repeat : no-repeat;
            background-position: center;
            height: 100vh;
            width: auto;
            margin: 0;
            text-align: center;
            font-family: 'Orbit', sans-serif;
          }
          .form{
            font-size: 1.5rem;
            font-family: 'Orbit', sans-serif;
          }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=IBM+Plex+Sans+KR:wght@500&family=Orbit&display=swap" rel="stylesheet">
  <link rel="website icon" type="png" href="{% static 'img/icon.png' %}">
</head>
<body>
  
  {% block content %}


  <h2>make your nickname</h2>
  <form action="{% url 'choose_name' %}" method="POST">
    {% csrf_token %}  
    {{ form.as_p }}
    <button type="submit">submit</button>
  </form>

{% endblock %}
</body>
</html>