{% load socialaccount %}
{% providers_media_js %} 
{% load static %}
<head>
    <style>
        .image-button{
          border: 0px solid;
          background-color: transparent;
        }
        body {
            background-image: url("{% static 'img/background.jpg' %}");
            background-size: cover;
            background-repeat : no-repeat;
            background-position: center;
            color: white;
            height: 100vh;
            width: auto;
            margin: 0;
          }
      </style>
      <link rel="stylesheet" href="{% static 'css/kr/login.css' %}">
      <link rel="website icon" type="png" href="{% static 'img/pumpkin_icon.png' %}">

</head>
<body>
    <span id="페이지">🎃Make your pumpkin🎃</span>
    <img id="pumpkin" src = "{% static 'img/pumpkin.png' %}"alt="pumpkin">
    <form action="{% provider_login_url 'google' %}" method="post">
      {% csrf_token %}
      <button id = "google"type="submit" class="image-button">
        <img src="{% static 'img/sign_in_google.png' %}" alt="Google Login">
      </button>
    </form>

</body