{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="{% static 'img/pumpkin_icon.png' %}">
    <style>
        ul {
            list-style-type: none; 
            padding: 0; 
        }
        body {
            background-image: url("{% static 'img/inside_pumpkin_background.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            width: auto;
            margin: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inside</title>
    <link href="{% static 'css/inside_pumpkin.css' %}" rel="stylesheet">
</head>
<body>
    <h1>{{username}}님의 호박안</h1>
    <img id="pumpkin" src = "{% static 'img/table_pumpkin.png' %}"  alt="pumpkin">
</body>
</html>