
.letter{

    color: white;
    text-decoration: none;
}.span{
    position: fixed;
    bottom: 1px;
    left:50%;
    transform:translate(-50%,-50%)
}
#friend{
    font-size: 2rem;
    font-family: 'Cute Font', cursive;
    border-radius: 15px;
}

#candy {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}
div{
    color: white;
}
ul {

    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

@media screen and (max-width:2560px){
    .one_letter{
        width:100px;
        height: auto;
    }
}
@media screen and (max-width:1025px){
    .one_letter{
        width:100px;
        height: auto;
    }
}
@media screen and (max-width:769px){
    .one_letter{
        width:100px;
        height: auto;
    }

}
@media screen and (max-width:600px){
    .one_letter{
        width:100px;
        height: auto;

    }

}
@media screen and (max-width:426px){

    .one_letter{
        width:75px;
        height: auto;

    }
}