a {
    text-decoration-line: none;
}
.friend{
    font-size: 2.5rem;
    font-family: 'Cute Font', cursive;
    border-radius: 15px;
}
#pumpkin{
	position:absolute;
	bottom: 1%;
	right: 1%;
}
@media screen and (max-width:769px){
    #pumpkin{
       width: 15rem;
	   height: auto;
    }
}
@media screen and (max-width:426px){
    #pumpkin{
       width: 10rem;
	   height: auto;
    }
}