.table{ border-collapse : collapse; 
    width: 100vw;}  /*이중선 제거*/
th,td{
 width: 100px;
 height: 50px;
 text-align: center;
 
 vertical-align: top;	/* 위 */
 vertical-align: bottom;   /* 아래 */
 vertical-align: middle;   /* 가운데 */
}
.my{
background-color: yellow;
}